<h1>List of users</h1>

<form action="/insert_user" method="post">
  <label for="user_input">Username</label>
  <input id="user_input" type="text" name="user_name" placeholder="Enter a username...">

  <button>Add user</button>

</form>
<hr>

<table border="1">
  <tr>

    <th>
    ID
    </th>

    <th>
    Username
    </th>

    <th>
    </th>

  </tr>

  <% @list_of_names.each do |info| %>
  <tr>
    <td> <%= info.id %> </td>
    <td> <%= info.username %> </td>
    <td><a href="/users/<%= info.username %>">Show details</td>


  </tr>
  <% end %>
</table>
